# PlatformIO build directories
.pio/
.pioenvs/
.piolibdeps/

# VSCode settings
.vscode/

# Compiled object files
*.o
*.obj

# Compiled dynamic libraries
*.so
*.dylib
*.dll

# Compiled static libraries
*.a
*.lib

# Executable files
*.exe
*.out
*.app

# Precompiled headers
*.gch
*.pch

# Dependency directories
libdeps/
